<div 
    fxLayout="column"
    fxLayoutAlign="center"
    fxLayout.gt-md="row"
    fxLayoutAlign.gt-md="start"
    fxLayoutGap="20px">
  <button
      mat-raised-button
      color="primary"
      routerLink="/polls/list"
      routerLinkActive="active">
      <mat-icon aria-hidden="false" aria-label="List polls">list</mat-icon>
      List polls
  </button>

  <button
      mat-raised-button
      color="primary"
      routerLink="/polls/create">
      <mat-icon aria-hidden="false" aria-label="Create new poll">add</mat-icon>
      Create new poll
  </button>
</div>

<app-polls-list></app-polls-list>

<router-outlet></router-outlet>