<mat-card class="poll-card">
    <mat-card-header>
        <mat-card-title>{{ poll.title }}</mat-card-title>
        <mat-card-subtitle>{{ poll.question }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        {{ poll.voteCount }} votes
    </mat-card-content>
    <mat-card-actions>
        <button
            mat-icon-button
            type="button"
            routerLink="/polls/vote/{{ poll._id }}">
            <mat-icon>how_to_vote</mat-icon>
        </button>
        <button
            mat-icon-button
            type="button"
            routerLink="/polls/edit/{{ poll._id }}">
            <mat-icon>edit</mat-icon>
        </button>
        <button
            mat-icon-button
            type="button"
            (click)="onDelete(poll)">
            <mat-icon color="warn">clear</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>